= content_for :feature_event do
  #banner.carousel.slide
    .carousel-inner
      - @feature_events.each do |event|
        - active_class = (@feature_events.first == event) ? :active : nil
        .5grid.5grid-alt.item{class: active_class}
          .6u-first
            %p= event.short_desc
            = participate_button(event)
          .6u
            = link_to image_tag(event.logo(:extra_large)), event, class: 'bordered-feature-image'
    %a.carousel-control.left{"data-slide" => "prev", :href => "#banner"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#banner"} ›

= content_for :previous_events do      
  #banner1.4u-first.event.carousel.slide
    .carousel-inner
      - @previous_events.each do |event|
        - active_class = (@previous_events.first == event) ? :active : nil
        %section.item{class: active_class}
          %header
            %h2 Previous events 
            %h3= event.name
          %ul.quote-list
            %li
              = image_tag event.logo(:medium)
              %p= event.organizer_name 
              %span= event.organizer_mobile_no
            %p
              = event.short_desc

= content_for :upcoming_events do      
  .4u.event
    %section
      %header
        %h2 Upcoming events 
      %ul.check-list.events
        - @upcoming_events.each do |event|
          %li= link_to event.name, event

= content_for :organisers do      
  .4u
    %section
      %header
        %h2 Organizers 
      %ul.quote-list
        - @organizers.each do |organizer|
          %li
            = link_to(image_tag(organizer.photo, :height => 40), organizer_path(organizer))
            %p= organizer.name 
            %span= organizer.mobile


:javascript
  $(document).ready(function() {
    $('#banner, #banner1').carousel();
  });
