= content_for :feature_event do
  #banner.carousel.slide
    .carousel-inner
      - @feature_events.each do |event|
        - active_class = (@feature_events.first == event) ? :active : nil
        .5grid.5grid-alt.item{class: active_class}
          .6u-first
            %p= event.short_desc
            %a.button-big{:href => "#"} Participate 
          .6u
            = link_to image_tag(event.logo), event, class: 'bordered-feature-image'
    %a.carousel-control.left{"data-slide" => "prev", :href => "#banner"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#banner"} ›

= content_for :previous_events do      
  #banner1.4u-first.event.carousel.slide
    .carousel-inner
      - @previous_events.each do |event|
        - active_class = (@previous_events.first == event) ? :active : nil
        %section.item{class: active_class}
          %header
            %h2 Previous events 
            %h3= event.name
          %ul.quote-list
            %li
              = image_tag event.logo(:medium)
              %p= event.organizer_name 
              %span= event.organizer_mobile_no
            %p
              = event.short_desc

= content_for :upcoming_events do      
  .4u.event
    %section
      %header
        %h2 Upcoming events 
      %ul.check-list
        - @upcoming_events.each do |event|
          %li= link_to event.name, event

= content_for :organisers do      
  .4u
    %section
      %header
        %h2 Organizers 
      %ul.quote-list
        %li
          %img{:alt => "", :src => "images/pic06.jpg"}/
          %p "Neque nisidapibus mattis"
          %span Jane Doe, CEO of UntitledCorp
        %li
          %img{:alt => "", :src => "images/pic07.jpg"}/
          %p "Lorem ipsum consequat!"
          %span John Doe, President of FakeBiz
        %li
          %img{:alt => "", :src => "images/pic08.jpg"}/
          %p "Magna veroeros amet tempus"
          %span Mary Smith, CFO of UntitledBiz

:javascript
  $(document).ready(function() {
    $('#banner, #banner1').carousel();
  });
