= content_for :header_js do
  %script{:src=>"http://maps.google.com/maps/api/js?sensor=false"}
= display_errors(@event)
= form_for @event, :html => {:class => 'form-vertical', :multipart => true} do |f|
  .left-box
    %label.title
      Event Title
      %em.valid*
    .controls
      = f.text_field :name, :class => "input-xxlarge" 


    %label.title
      Short description 
      %em.valid*
    .controls
      = f.text_field :short_desc, :class => "input-xxlarge sub_text"
      %span.help-block.pull-right
        %small#charCounter
        Characters left

    %label.title
      Description
    .controls
      = f.text_area :description, :rows => 5, :style => "width:600px;"


    %label.title 
      Add Event Location 
      %em.valid*
    .controls
      = f.text_field :location, :class => "input-xxlarge", :id => "addresspicker_map"
      = f.hidden_field :lat, :value => (@event.lat || "18.5204303"), :id => "lat"
      = f.hidden_field :lng, :value => (@event.lng || "73.85674369999992"), :id => "lng"
    .map-view
      #map
      %br
      .right-box{:style => "width:100%;"}
        %small{:style => "margin-left:20px;"} You can drag and drop the marker to the correct location
  
  .right-box
    .right-box-left
      %label.title 
        Start Date 
        %em.valid*
      .controls
        = f.text_field :start_date, :class => "input-xlarge start_date"
    
    .right-box-right
      %label.title 
        Organizer Name 
        %em.valid*
      .controls
        = f.text_field :organizer_name, :class => "input-xlarge"
    
    .right-box-left
      %label.title 
        End Date 
        %em.valid*
      .controls
        = f.text_field :end_date, :class => "input-xlarge end_date"

    .right-box-right
      %label.title 
        Organizer Mobile Number 
        %em.valid*
      .controls
        = f.text_field :organizer_mobile_no, :class => "input-xlarge"

    .right-box-left.top-margin
      %label.checkbox
        = f.check_box :published
        Publish your event
      %label.checkbox
        = f.check_box :featured
        Make event as featured

    .right-box-left.top-margin
      %label.title Add Logo
      .controls
        = f.file_field :logo
      %small Maximum size 1 Mb

    .right-box-left{:style=>"width:100%"}
      = f.hidden_field :unique_identifier, class: 'unique_identifier_for_assets'
      = render partial: 'asset_form', locals: {model_name: @event.class.to_s.underscore, :object => @event}
    
    

  .set-button
    %button.button-big{:type=>"submit", :style => "padding:5px 13px;font-size:1.2em;"}
      Save Event

:javascript

  $(document).ready(function(){
    var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
         regionBias: "fr",
      elements: {
          map:      "#map",
          lat:      "#lat",
          lng:      "#lng"
      }
    });
    var gmarker = addresspickerMap.addresspicker( "marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker( "updatePosition");

    $('#event_start_date').datetimepicker({
      ampm: true
    });
    var start_time = "#{@event.start_date.strftime('%d-%m-%Y %I:%M %p') if @event.start_date}"
    $('#event_start_date').datetimepicker( "option", "dateFormat", "dd-mm-yy");
    $('#event_start_date').val(start_time);
    
    $('#event_end_date').datetimepicker({
      ampm: true
    });
    var start_time = "#{@event.end_date.strftime('%d-%m-%Y %I:%M %p') if @event.end_date}"
    $('#event_end_date').datetimepicker( "option", "dateFormat", "dd-mm-yy");
    $('#event_end_date').val(start_time);

    $('.sub_text').keyup(function() {
      var maxChar = 200
      var charLength = $(this).val().length;
      // Displays count
      var count = maxChar - charLength
      $('#charCounter').html('Characters left '+ count +'');
        // Alerts when 250 characters is reached
        if($(this).val().length > maxChar){
          $(this).val($(this).val().substr(0, maxChar));
          $('#charCounter').html('Characters left 0');
          alert('You may only have up to ' + maxChar + ' characters.')
         }
      });
    var maxChar = 200
    var charLength = $('.sub_text').val().length;
    var count = maxChar - charLength
    $('#charCounter').html('Characters left '+ count +'');

  });
