= content_for :links do
  .links
    = link_to "Add Event", new_event_path, class: 'button-small add-event'
    = text_field_tag 'search', '', size: 30,placeholder: 'Search events', class: 'search-box'

- @events.each do |event|
  .4u.event{:id => event.id}
    %section
      %header
        %h2= link_to event.name.truncate(30), event
      %ul.quote-list
        %li
          = image_tag event.logo(:medium)
          %p= event.organizer_name 
          %span= event.organizer_mobile_no
        %p.short_desc
          = event.short_desc.truncate(200)
        %p.participate
          - if event.participants.include?(current_user)
            %a.button-small{:href => leave_event_path(event)} Leave
          - else
            %a.button-small{:href => participate_event_path(event)} Participate 

:javascript 
  var events = #{@events.to_json}
