.11u.links
  = link_to "Add Event", new_event_path, class: 'button-big'

- @events.each do |event|
  .4u.event
    %section
      %header
        %h2= link_to event.name, event
      %ul.quote-list
        %li
          = image_tag event.logo(:medium)
          %p= event.organizer_name 
          %span= event.organizer_mobile_no
        %p
          = event.short_desc

