- content_for :title do
  My Profile

%div.4u-first
  %section
    = link_to "edit", edit_account_url, :class => :edit_user
    %header
      .user_photo
        = image_tag @user.photo.url(:medium)
      %h2= @user.name
      %h3= "Joined #{@user.created_at.strftime("%B %Y")}"
    
    - if @user.job_title
      %label= @user.job_title
    .clr
    - if @user.dob
      %label Birthday #{@user.dob.strftime("%d %b, %Y")}
    - if @user.email
      %label Email #{@user.email }
    - if @user.website.present?
      %label Website |
      = link_to @user.website, @user.website, :target => :_blank

%div.4u.right_full
  %ul
    %li
      %a{ :href => "#upcoming"}
        %h4 Upcoming Events
    %li
      %a{ :href => "#owned"}
        %h4 Owned Events
    %li
      %a{ :href => "#past"}
        %h4 Past Events
  #upcoming
    - if @upcoming_events.empty?
      There are no events to display
    - else
      %ul
        - @upcoming_events.each do |event|
          %li
            .title_span
              = link_to event.name, event_path(event)
            .title_span
              = event.start_date.strftime('%d, %b %y')
            .dt_span
              = participate_link(event)

  #owned
    - if @events.empty?
      You don't have own events
    - else
      %ul
        - @events.each do |event|
          %li
            .title_span
              = link_to event.name, event_path(event)
            .title_span
              = event.start_date.strftime('%d, %b %y')
            .dt_span
              #{ event.participants.count } Participant(s)
            - if my_profile?(@user)
              = link_to('Manage', edit_event_path(event), :class => 'pull-right')
            - else
              = participate_link(event)


    
  #past
    - if @past_events.empty?
      There are no events to display
    - else
      %ul
        - @past_events.each do |event|
          %li
            .title_span
              = link_to event.name, event_path(event)
            .title_span
              = event.start_date.strftime('%d, %b %y')
            .dt_span
              - if my_profile?(@user)
                = link_to('Certificate', certificate_path(event, @user), :class => 'pull-right')
:javascript
  $(".4u.right_full").tabs();
