%header#header.5grid
  .12u-first
    %h1
      %a{:href => "/"} 
        = raw("Make<span style= 'color:red'>My</span>Event ")
    #signin
      - if user_signed_in?
        %ul
          %li 
            = image_tag current_user.photo, size: '30x30'
          %li
            = current_user.name
          %li
            = link_to "Logout", signout_path, class: 'signout'
      - else
        %span
          Login By
        = link_to image_tag('twitter.png', size: '32x32'), twitter_signin_path, title: 'Sign in with Twitter'
        = link_to image_tag('facebook.png', size: '32x32'), facebook_signin_path, title: 'Sign in with Facebook'
    %nav
      = link_to 'Home', root_url
      = link_to 'Events', events_path
      = link_to 'My Profile', account_path
      = link_to 'Contact Us', '#'
