%header#header.5grid
  .12u-first
    %h1
      %a{:href => "/"} 
        = raw("Make<span style= 'color:red'>My</span>Event ")
    #signin
      - if user_signed_in?
        %ul
          %li 
            = image_tag current_user.photo, height: '40'
          %li
            = link_to truncate(current_user.name, :length => 16), account_path, :class => :profile_url
          %li
            = link_to "Logout", signout_path, class: 'signout'
      - else
        %span
          Login By
        = link_to image_tag('twitter.png', size: '32x32'), twitter_signin_path, :title => 'Sign in with Twitter', :class => "popup", :"data-width" => 600, :"data-height" => 400
        = link_to image_tag('facebook.png', size: '32x32'), facebook_signin_path, :title => 'Sign in with Facebook', :class => "popup", :"data-width" => 600, :"data-height" => 400
    %nav
      = link_to 'Home', root_url
      = create_event_button
      = link_to 'Events', events_path
      = link_to 'My Profile', account_path if current_user
      = link_to 'About Us', team_path
