%header#header.5grid
  .12u-first
    %h1
      %a{:href => "/"} 
        = raw("Make<span style= 'color:red'>My</span>Event ")
    %nav
      = link_to 'Home', '/'
      = link_to 'Events', events_path
      = link_to 'My Profile', '#'
      = link_to 'Contact Us', '#'
