%html
  %head
    %title Make My Event | #{ yield(:title).present? ? yield(:title) : "Plan your event, We assure your event meets success" }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "Wanted to organize event?? Do not know how to go about it? Need not worry. Just create an event on our website. we will share that with our user base as long as your facebook and twitter friends. We will manage your event. User can register, join for event and track for events via website. That's not done. you can also distribute participation certificate with users.", :name => "description"}/
    %meta{:content => "make my event, manage event, register, participate, track events, share events", :name => "keywords"}/
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css"
    = yield :header_js
    = javascript_include_tag "application", params[:controller]
    = yield :head
    = javascript_include_tag "http://s0.railsrumble.com/banner.js"
  %body
    / Header
    .flash.rumble-alert.alert-notice
      You like this site? Please #{link_to 'click here', 'http://railsrumble.com/entries/all?utf8=%E2%9C%93&q=make+my+event', :target => '_blank'} to favorite us!!
    = show_flash_messages if show_flash_messages.present? 
    #header-wrapper
      = render 'header'
      = yield :feature_event
    / Content
    #content-wrapper
      = yield :links
      #content
        .5grid
          = yield
          = yield :previous_events
          = yield :upcoming_events
          = yield :organisers
    / Copyright
    #copyright
      &copy 2012 MakeMyEvent. All rights reserved.

