%html
  %head
    %title MakeMyEvent 
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    / Header
    #header-wrapper
      = render 'header'
      #banner
        = yield :feature_event
    / Content
    #content-wrapper
      #content
        .5grid
          = yield
          = yield :previous_events
          = yield :upcoming_events
          = yield :organisers
    / Copyright
    #copyright
      &copy 2012 MakeMyEvent. All rights reserved.

