%html
  %head
    %title Make My Event | #{ yield(:title).present? ? yield(:title) : "Plan your event, We assure your event meets success" }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "Wanted to organize event?? Do not know how to go about it? Need not worry. Just create an event on our website. we will share that with our user base as long as your facebook and twitter friends. We will manage your event. User can register, join for event and track for events via website. That's not done. you can also distribute participation certificate with users.", :name => "description"}/
    %meta{:content => "make my event, manage event, register, participate, track events, share events", :name => "keywords"}/
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link{:rel=>"stylesheet", :href=>"http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css"}
    = javascript_include_tag "application"
    = yield :head
  %body
    / Header
    #header-wrapper
      = render 'header'
      = yield :feature_event
      - if user_signed_in?
        = link_to "Sign out", signout_path, class: 'pull-right'
      - else
        = link_to 'Twitter', twitter_signin_path, title: 'Sign in with Twitter'
        = link_to 'Facebook', facebook_signin_path, title: 'Sign in with Facebook'
    / Content
    #content-wrapper
      #content
        .5grid
          = yield
          = yield :previous_events
          = yield :upcoming_events
          = yield :organisers
    / Copyright
    #copyright
      &copy 2012 MakeMyEvent. All rights reserved.

